<link rel="stylesheet" href="/css/header.css">

<header>
    <!-- Logo section -->
    <div class="logo">
     <a href="">Hi <%= locals.user.name %></a>
    </div>

    <nav>
      <ul>
        <li><a href="/employee">Home</a></li>
        <li><a href="/employee/viewreviews/<%= locals.user.id %>">Performance Reviews</a></li>
        <li><a href="/sign-out">Sign-Out</a></li>
      </ul>
    </nav>
  </header>