<link rel="stylesheet" href="css/adminhome.css">

  <div class="empBox">
    <div class="box">
       <div>
            <div class="emp-numbers">10</div>
            <div class="box-name">Total Task</div>
       </div>
        <div class="iconbox"><i class="fa-solid fa-users"></i></div>
    </div>

    <div class="box">
       <div>
            <div class="emp-numbers">10</div>
            <div class="box-name">Pending Task</div>
       </div>
        <div class="iconbox"><i class="fa-regular fa-star-sharp-half-stroke"></i></div>
    </div>

  </div>